*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.main{
    display: flex;
    flex: 1;
    align-items: center;
}

.btn {
    font-size: 40px;
    width: 5%;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    border: none;
    color: #000;
    z-index: 1;
}

.btn:focus {
    outline: 3px solid red;
}

.btn:hover{
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.7),
    7px 7px 20px 0px rgba(0,0,0,.3),
    4px 4px 5px 0px rgba(0,0,0,.3);
    border: none;
}
.btn:active {
    top: 2px;
}

.img{
    height: 70vh;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    position: relative;
}

.img img{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: block;
}

.gallery{
    background-color: rgba(128, 128, 128, 0.69);
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.gallery .footimg {
    height: 100%;
    width: auto;
    margin: 0 10px;
}

.gallery .footimg img{
    height: 100%;
    width: auto;
}

.gallery .footimg.active {
    outline: 3px solid red;
    outline-offset: -3px;
}
